@import "sanitize"
@import "helpers"

$gutter = 16px
.container
  margin: 0 auto
  width: 85%
  max-width: 1000px
  min-width: 310px

// VARIABLES

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-basic = 22px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)

// TYPOGRAPHY

body
  font-family:helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1
  font-size: 2.15em

h2
  font-size: 1.5em

h3
  font-size: 1.3em

h1, h2, h3, h4, h5, h6
  line-height: $font-leading-basic

p
  margin-top: 1em
  margin-bottom: 1em


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto
  display: block
  margin: 10px auto

#map
  margin-top: 40px
  margin-bottom: 80px


// MEDIA QUERIES

@media screen and (max-width: 800px)

  $font-size-basic = 17px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic

@media screen and (max-width: 500px)

  $font-size-basic = 15px

  // TYPOGRAPHY

  body
    font-size: $font-size-basic